* {
  font-family: Roboto;
  color: #e2e8f0;
}

#logo{
  filter: brightness(0) invert(1);
}
/* change to icon? ^ */

.hover-glow:hover {
  text-shadow: 0 0 8px white;
}

.chart-container {
  position: relative;
  width: 200px; /* Możesz dostosować szerokość */
  height: 2000px; /* Możesz dostosować wysokość */
}

.agenda-desc {
  font-size: 20px;
  text-align: justify;
  width: 700px;
  margin-bottom: 100px;
}

.event-title {
  width: 400px;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  position: absolute;
  left: -400px; /* Odległość etykiety od osi */
  top: 16%;
  transform: translateY(-50%);
  color: white;
}

.event-title-2 {
  width: 400px;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  position: absolute;
  left: 200px; /* Odległość etykiety od osi */
  top: 48%;
  transform: translateY(-50%);
  color: white;
}

.event-title-3 {
  width: 400px;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  position: absolute;
  left: -400px; /* Odległość etykiety od osi */
  top: 82%;
  transform: translateY(-50%);
  color: white;
}

.event {
  width: 200%;
  position: absolute;
  color: white;
  font-size: 20px;
}

.day-1 {
  text-align: center;
  left: -400px; /* Odległość etykiety od osi */
  top: 12%;
  transform: translateY(-50%);
  font-weight: bold;
  font-size: 25px;
}

.day-1-1 {
  text-align: center;
  left: 200px; /* Odległość etykiety od osi */
  top: 45%;
  transform: translateY(-50%);
  font-weight: bold;
  font-size: 25px;
}

.day-2 {
  text-align: center;
  left: -400px; /* Odległość etykiety od osi */
  top: 79%;
  transform: translateY(-50%);
  font-weight: bold;
  font-size: 25px;
}

.event-1 {
  left: 200px; /* Odległość etykiety od osi */
  top: 7%;
  transform: translateY(-50%);
}

.event-2 {
  left: 200px; /* Odległość etykiety od osi */
  top: 10%;
  transform: translateY(-50%);
}

.event-3 {
  left: 200px; /* Odległość etykiety od osi */
  top: 13%;
  transform: translateY(-50%);
}

.event-4 {
  left: 200px; /* Odległość etykiety od osi */
  top: 16%;
  transform: translateY(-50%);
}

.event-5 {
  left: 200px; /* Odległość etykiety od osi */
  top: 19%;
  transform: translateY(-50%);
}

.event-6 {
  left: 200px; /* Odległość etykiety od osi */
  top: 22%;
  transform: translateY(-50%);
}

.event-7 {
  left: 200px; /* Odległość etykiety od osi */
  top: 25%;
  transform: translateY(-50%);
}

.event-8 {
  left: 200px; /* Odległość etykiety od osi */
  top: 28%;
  transform: translateY(-50%);
}

.event-9 {
  left: -400px; /* Odległość etykiety od osi */
  top: 42%;
  transform: translateY(-50%);
}

.event-10 {
  left: -400px; /* Odległość etykiety od osi */
  top: 48%;
  transform: translateY(-50%);
}

.event-11 {
  left: -400px; /* Odległość etykiety od osi */
  top: 52%;
  transform: translateY(-50%);
}

.event-12 {
  left: -400px; /* Odległość etykiety od osi */
  top: 56%;
  transform: translateY(-50%);
}

.event-13 {
  left: -400px; /* Odległość etykiety od osi */
  top: 59%;
  transform: translateY(-50%);
}

.event-14 {
  left: 200px; /* Odległość etykiety od osi */
  top: 78%;
  transform: translateY(-50%);
}

.event-15 {
  left: 200px; /* Odległość etykiety od osi */
  top: 81%;
  transform: translateY(-50%);
}

.event-16 {
  left: 200px; /* Odległość etykiety od osi */
  top: 84%;
  transform: translateY(-50%);
}

.bold {
  font-weight: bold;
}

.axis {
  position: absolute;
  width: 2px; /* Grubość osi */
  height: 100%;
  background-color: white;
  left: 50%;
  transform: translateX(-50%);
}

.dot {
  width: 20px; /* Średnica kropki */
  height: 20px; /* Średnica kropki */
  background-color: white;
  border-radius: 50%;
  position: absolute;
}

.dot:nth-child(1) {
  top: 0%; /* Pozycja pierwszej kropki */
  left: 50%; /* Położenie na osi */
  transform: translate(-50%, -50%);
}

.dot:nth-child(2) {
  top: 33%; /* Pozycja drugiej kropki */
  left: 50%; /* Położenie na osi */
  transform: translate(-50%, -50%);
}

.dot:nth-child(3) {
  top: 66%; /* Pozycja trzeciej kropki */
  left: 50%; /* Położenie na osi */
  transform: translate(-50%, -50%);
}

.dot:nth-child(4) {
  top: 100%; /* Pozycja trzeciej kropki */
  left: 50%; /* Położenie na osi */
  transform: translate(-50%, -50%);
}

.agenda {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
}

.timeline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 200px;
}

.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  background-color: rgb(243 244 246);
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  display: none;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.section {
  margin-bottom: 20px;
}

.back-to-top:hover {
  box-shadow: 0 0 10px 3px white;
  background-color: white;
}


.back-to-top span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

body {
  background-color: #1f2937;
  color: white;
}

.o-nas {
  font-size: 50px;
  margin-bottom: 20px;
  font-weight: bold;
  color: white;
}

.opis {
  width: 80%;
  font-size: 25px;
  text-align: justify;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
}

.m-title {
  font-size: 30px;
}


.conteiner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
}

.main-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Roboto;
  width: 100%;
}

.main-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1f2937;
  width: 80%;
}

li {
  margin-bottom: 10px;
}

.main-2-l {
  width: 50%;
}

.main-2-r img {
  width: 450px;
  border-radius: 20px;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.projekty,
.kontakt,
.caiak {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.kontakt{
  height: 98vh;
}

.kontakt p {
  font-size: 20px;
}

.projekty-1,
.kontakt-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Roboto;
  width: 100%;
}


.item {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-top{
  /* background-color: #efeeff; */
  background-color: rgb(243 244 246);
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.item-top:hover{
  background-color: white;
  box-shadow: 0 0 10px 3px white;
}

.item-top p{
  color: #1f2937;
}

.logo{
  /* border: 5px solid white; */
  width: 20px;
  height: 20px;
}

.logos{
  display: flex;
  justify-content: space-around;
  width: 400px;
}

.sociale {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  font-size: 70px;
  width: 100%;
}

.sociale i {
  transition: color 0.2s;
  margin-right: 40px;
}

.sociale i:hover {
  cursor: pointer;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #1f2937;
  padding: 20px;
  border-radius: 20px;
  font-weight: bold;
}

.item p {
  margin: 0;
  margin-bottom: 10px;
}

.item-img img {
  height: 300px;
  width: 500px;
  border-radius: 15px;
  border: 1px solid #1f2937;
  margin-bottom: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: box-shadow 0.3s;
}

.item-img img:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 0px;
}

.flexbox {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.projekty {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.item a {
  color: #1f2937;
}

@media screen and (max-width: 1500px) {
  .o-nas {
    font-size: 40px;
  }

  .opis {
    width: 90%;
    font-size: 22px;
  }

  .info {
    font-size: 15px;
  }

  .main-2 {
    width: 90%;
  }

  .projekty {
    height: 200vh;
  }

  .item p {
    width: 50%;
  }

  .main-2-r img {
    width: 400px;
  }

  .sociale {
    font-size: 60px;
  }
}

@media screen and (max-width: 1200px) {
  .opis {
    width: 90%;
    font-size: 20px;
  }

  .main-2-r img {
    width: 300px;
  }

  .info {
    font-size: 13px;
  }
}

@media screen and (max-width: 900px) {

  .o-nas {
    font-size: 30px;
  }
  .opis {
    width: 90%;
    font-size: 15px;
  }

  .main-2-r img {
    width: 250px;
  }

  .info {
    font-size: 13px;
  }

  .m-title {
    font-size: 22px;
  }

  .sociale {
    font-size: 40px;
  }

  .kontakt p {
    font-size: 18px;
  }
}

@media screen and (max-width: 600px) {
  /* main {
    height: 400px;
    background-position: 58% 15%;
    background-size: 160%;
  } */

  .main-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    width: 100%;
  }

  /* .conteiner {
    height: auto;
  } */

  .main-2-l {
    width: 90%;
    margin-top: 50px;
  }

  .main-2-r img {
    margin-bottom: 50px;
    margin-top: 50px;
    width: 400px;
  }

  .o-nas {
    margin-top: 10px;
    font-size: 30px;
  }

  .kontakt p {
    font-size: 15px;
    width: 90%;
    text-align: center;
  }

  .main-2-r img {
    margin-bottom: 50px;
    margin-top: 50px;
    width: 300px;
  }
}

@media screen and (max-width: 1700px) {
  .flexbox {
    display: flex;
    flex-direction: column;
    width: 40%;
  }

  .item {
    margin-bottom: 30px;
  }

  .projekty {
    height: auto;
  }
}

@media screen and (max-width: 1300px) {
  .flexbox {
    width: 60%;
  }

  .item-img img {
    height: auto;
    width: 350px;
  }
}

@media screen and (max-width: 700px) {
  .flexbox {
    width: 90%;
  }
}

@media screen and (max-width: 450px) {
  /* main {
    height: 350px;
    background-position: 58% 11.5%;
    background-size: 160%;
  } */

  .axis {
    left: 20%;
  }

  .o-nas {
    font-size: 25px;
    width: 300px;
    text-align: center;
  }

  .flexbox {
    width: 90%;
  }

  .item-img img {
    width: 250px;
  }

  .item p {
    font-size: 13px;
  }

}

/* @media screen and (max-width: 360px) {
  main {
    height: 300px;
    background-position: 58% 12%;
    background-size: 160%;
  }
} */

@media screen and (max-width: 315px) {

  .flexbox {
    width: 95%;
  }

  .item-img img {
    width: 200px;
  }

  .item p {
    font-size: 13px;
  }

  .o-nas {
    font-size: 40px;
  }
}


/* Dodaj styl dla menu mobilnego */
@media (max-width: 768px) {
  #mobile-menu {
    display: none; /* Ukryj menu na urządzeniach mobilnych */
    position: absolute;
    top: 95%; /* Umieść menu pod przyciskiem */
    left: 0;
    width: 100%;
    background-color: #1f2937; /* Kolor tła menu */
    z-index: 999; /* Ustaw z-index, aby menu było na wierzchu */
  }


  #mobile-menu a {
    display: block; /* Wyświetl linki jako bloki, aby zajmowały całą szerokość */
    padding: 1rem 2rem; /* Dodaj wypełnienie dla linków */
    color: #cbd5e0; /* Kolor tekstu linków */
  }
}



